<head>
    <title>About me</title>
</head>   







<div class="col-md-12">
     <h1>About me</h1>

     
      <p>My Name is Jacob Butler, I am a citizen of New Zealand, seeking a role in the information technology space. In 2022 I completed a Post graduate certificate in information technology. 
        I try to spend at least two hours daily working towards this goal, actively coding.  </p>
       <P>In my free time, I like to garden, volunteer on ecological restoration projects, read novels, write and work on projects.   </P>

<h3>Information Technology study journey  </h3>
<p>In 2022 I worked towards a Postgraduate Certificate in Information Technology
 at Auckland University. 
This course had two major components, Java Object Oriented Programming and Web technology and development.
</p>
<p><a href="https://www.online.auckland.ac.nz/postgraduate-programmes/science/postgraduate-certificate-in-information-technology/ "> course details </a></p>


<h3>Ambition </h3>
<p>I am seeking a role where I am able to build upon my programming/development and problem solving skills full time. I am will and able to learn any technology that is desirable and will continue with self directed technology focused learning outside of work in. 
</p>

<h3>Contact</h3>
<p>
<p><strong>Email:</strong> jthomasbutler@gmail.com</p>
<p><strong>Phone:</strong>  022 436 9589</p>
</p>
      

        </div>
</div>
    </div>

    