

	<div class="col-md-12">
      <h1>Web Development</h1>
      
<div class="jumbotron">
  <h1 class="display-4">Furry Frogs Blog Site</h1>
  <p class="lead">
    The site uses HTML, CSS, JavaScript, NodeJS, Express and a SQL data base.
      This website was a two weeklong group project to create a full stack web application

  </p>
  <hr class="my-4">
  <p>The code is avalible on <a href="https://github.com/jbut093/PortfolioJB">Github.</a></p>
  
</div>
      

      <h3>This Portfolio site</h3>

    <p>Ruby on Rails was use to create this Sign in and CRUD website.</p>


  
  <h3>Web development capablity </h3>
      
<ul class="list-group">
  <li class="list-group-item">HTML</li>
  <li class="list-group-item">CSS</li>
  <li class="list-group-item">Javascript</li>
  <li class="list-group-item">Node JS</li>
  <li class="list-group-item">SQL/MYSQL</li>
  <li class="list-group-item">Jquery</li>
  <li class="list-group-item">Handlebars</li>

  <li class="list-group-item">Ruby On Rails</li>
</ul>   
         